.navbar{
    position: fixed;
    display: flex;
    z-index: 10;
    top: 0;
    left: 0;

}

.navbar ul{
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}
.navbar li{
    list-style: none;
}